@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-body relative leading-relaxed;
    background-color: #FCF9ED; /* Light yellow */
    color: #2B2B2B; /* Blackish color */
    font-family: 'acumin-pro', sans-serif; 
    font-weight: bold; /* Set default font weight to bold */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
    color: #2B2B2B; /* Blackish color */
    font-family: 'bodoni-urw', serif; /* Bodoni URW for headings */
  }
  a {
    @apply text-[16px] font-medium;
    color: #2B2B2B; /* Blackish color */
    font-family: 'acumin-pro', sans-serif; 
    font-weight: bold; /* Explicitly set font weight to bold */
  }
  .nav-link {
    @apply after:w-6 after:h-1 after:absolute after:left-0 after:-bottom-2 after:rounded-full after:bg-transparent after:hover:bg-[#90B3F5] after:transition-all after:duration-300 relative;
  }
  .btn {
    @apply font-bold h-12 px-8 text-[15px] outline-none flex items-center justify-center cursor-pointer;
    background-color: #90B3F5; /* Blue */
    color: white; 
    border-radius: 9999px; 
    font-family: 'acumin-pro', sans-serif; 
    font-weight: bold; /* Explicitly set font weight to bold */
  }
}

@layer components {
  .text-40 {
    font-size: 40px;
  }  
  .font-all-round-gothic {
    font-family: 'all-round-gothic', sans-serif;
    font-weight: bold; 
  }
  .section-img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the area without stretching */
  }
}

@layer base {
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #90B3F5;
    transition: width 0.3s;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}

@layer base {
  .font-bodoni-light {
    font-family: 'bodoni-urw-light', serif; /* Ensure this matches the loaded font */
    font-weight: 300; /* Adjust based on the actual font weight */
  }
}

.nav-link a {
  color: #2B2B2B; /* Blackish color */
  font-family: 'acumin-pro', sans-serif;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 9999px; /* Full-rounded border for oval shape */
  transition: background-color 0.3s ease;
}

.inactive-nav-link {
  background-color: transparent;
}

.active-nav-link {
  background-color: #FFE184; /* Highlight color */
  color: #2B2B2B; /* Keep text black */
}

.nav-link a:hover {
  background-color: #90B3F5; /* Hover color */
  color: white; /* Text color on hover */
}